<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Visibility</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.visibility %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
<% if user.visibility %>
          <%= link_to 'Visible(click to be unvisible)', user_path(user, :"user[visibility]" => false, confirmed: true), method: :put, confirm: "Are you sure?" %>
<% else %>
          <%= link_to 'Unvisible(click to be visible)', user_path(user, :"user[visibility]" => true, confirmed: true), method: :put, confirm: "Are you sure?" %>
<% end %>
        </td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
